[submodule "Vjezbe01"]
	path = Vjezbe01
	url = ./Vjezbe01
[submodule "Vjezbe02"]
	path = Vjezbe02
	url = ./Vjezbe02
[submodule "Vjezbe03"]
	path = Vjezbe03
	url = ./Vjezbe03
[submodule "Vjezbe04"]
	path = Vjezbe04
	url = ./Vjezbe04
[submodule "Vjezbe05"]
	path = Vjezbe05
	url = ./Vjezbe05
[submodule "Vjezbe06"]
	path = Vjezbe06
	url = ./Vjezbe06
